.page {
    max-width: 960px;
    margin: 0 auto;
    padding: 0.5rem;
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

body {
    font-family: "Roboto", serif;
    background-color: #F7F0F5;
}

header {
    display: flex;
    padding: 2rem;
    font-weight: 400;
    background: rgb(161, 198, 234);
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;
}

nav {
    background: rgb(9 12 2);
    margin: 0 auto;
    max-width: auto;
    max-height: 100%;
    padding: 5px;
}

.navigation a:hover {
    border: 1px solid #BCE784;
    padding: 12px
}

#menu::before {
    content: "☰";
    color: white;
    font-size: 50px;
    font-weight: 300;
}

.navigation.show li {
    display: block;
}

#menu.show::before{
    content: "X";
    color: white;
    font-size: 50px;
    font-weight: 300;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 200;
    transition: 0.5s;
}

/* @media only screen and (min-width: 40em) {
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation a {
        text-align: center;
    }
    #menu {
        display: none;
    }
} */

main {
    background-color: white;
    padding: 0.5rem;
    margin: 0 auto;
    max-width: 800px;
}

h2 {
    background: rgb(92 107 115 / 40%);
    font-weight: 350;
    color: black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border: 5px solid black;
    max-width: 100%;
    height: auto;
}

.res-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    padding: 10px;
    max-width: fit-content;
    margin: auto;
}

section {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
    background: rgb(161 198 234 / 20%);
}

h4 {
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

img {
    margin: 15px;
}

footer {
    display: flex;
    padding: 2rem;
    font-weight: 400;
    background: rgb(161, 198, 234);
    align-items: center;
    justify-content: space-around;
    color: black;
    font-size: 30px;
}
