@media screen and (min-width: 650px) {
    body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    header {
        display: grid;
        grid-column: 1/4;
    }

    .hero {
        display: flex;
        position: absolute;
        z-index: -1;
        grid-column: 1/4;
    }

    footer {
        display: grid;
        grid-column: 1/4;
    }

    .data {
        display: grid;
        grid-column: 1/3;
        background-color: rgba(255, 255, 255, 0.695);
        border: 1px solid black;
    }

    .weather {
        display: grid;
        grid-column: 3/4;
        background-color: rgba(255, 255, 255, 0.695);
        border: 1px solid black;
    }
}